 #Square1 {
 	height: 10em;
 	width: 10em;
 	background-color: red;
 	border: 5px solid black;
 	height: 10em;
 	width: 10em;
 	background-color: red;
 	margin: 0 auto;
 	color: white
 }

 #Square2 {
 	border: 5px solid black;
 	height: 10em;
 	width: 10em;
    background-color: green;
    color: white;
    margin: 10px auto;

 }
 