.grey {
	background: grey;
	height: 10em;
	width: 10em;
	border: 10em;
}

.red {
	background: red;
	height: 10em;
	width: 10em;
	border: 10em;
}

.green {
	background: green;
	height: 10em;
	width: 10em;
	border: 10em;
}
